.auth-form {
  display: flex;
  margin: 70px auto;
  width: 396px;
  /* flex-direction: column;
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
  align-items: center;
  justify-content: center; */
  background-color: #202020;
}
/* @media screen and (max-width: 1024px) {
  .auth-form {
    margin: 232px 186px;
  }
} */
@media screen and (max-width: 769px) {
  .auth-form {
    margin: 232px auto;
  }
}
@media screen and (max-width: 500px) {
  .auth-form {
    width: 260px;
    margin: 56px auto 30px;
  }
}
@media screen and (max-width: 320px) {
  .auth-form {
    margin: 56px 30px 30px;
  }
}

.auth-form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 769px) {
  .auth-form__container {
    padding-left: 10px;
  }
}

@media screen and (max-width: 430px) {
  .auth-form__container {
    padding-left: 0px;
  }
}

.auth-form__container-link {
  display: flex;
  justify-content: left;
}
@media screen and (max-width: 500px) {
  .auth-form__container-link {
    justify-content: center;
  }
}

.auth-form__logo {
  width: 38px;
  height: 38px;
  margin: 0px 0px 40px;
  justify-self: left;
  cursor: pointer;
  opacity: 1;
  transition: transform 0.3s ease-in-out;
}
.auth-form__logo:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

@media screen and (max-width: 430px) {
  .auth-form__logo {
    display: flex;
    margin: 0px 0px 50px;
  }
}

.auth-form__title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  margin: 0px 0px 40px;
}
@media screen and (max-width: 500px) {
  .auth-form__title {
    margin: 0px 0px 80px;
    text-align: center;
  }
}

.auth-form__button {
  width: 100%;
  height: 45px;
  margin-top: 91px;
}
@media screen and (max-width: 430px) {
  .auth-form__button {
    margin-top: 179px;
  }
}

.auth-form__submit-button {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background: #3456f3;
  border: none;
  cursor: pointer;
  text-align: center;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: transform 0.3s ease-in-out;
  opacity: 1;
  /* margin: 69px 0px 0px; */
  padding: 0px;
}
.auth-form__submit-button:hover {
  opacity: 0.8;
  transform: scale(0.95);
}

.auth-form__submit-button_disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}

.auth-form__submit-button_disabled:hover {
  transform: none;
  opacity: 1;
}

.auth-form__text {
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 16px auto 0px;
}
@media screen and (max-width: 430px) {
  .auth-form__text {
    font-size: 12px;
  }
}

.auth-form__link {
  color: #4285f4;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding-left: 6px;
  cursor: pointer;
  opacity: 1;
}
.auth-form__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 430px) {
  .auth-form__link {
    font-size: 12px;
  }
}

.auth-form__input {
  padding: 15px 15px;
  border-radius: 8px;
  background: #2f2f2f;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  margin: 0px 0px 0px;
  vertical-align: text-top;
  outline: none;
}
.auth-form__input:focus {
  border: 1px solid #3456f3;
}

@media screen and (max-width: 430px) {
  .auth-form__input {
    width: 230px;
  }
}

.auth-form__input-title {
  width: 100%;
  height: 16px;
  margin: 17px 0px 8px 0px;
  color: #8b8b8b;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
.auth-form__input-title:first-of-type {
  margin-top: 0px;
}

.auth-form__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ee3465;
}
