.page {
  font-family: 'Inter', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0px auto;
  text-rendering: optimizeLegibility;
  background-color: #202020;
  /* align-items: center; */
  /* height: fit-content; */
  /* max-width: 1280px; */
  /* min-width: 320px; */
  /* align-items: center; */
  max-width: 1280px;
  text-rendering: optimizeLegibility;
}
